<div class="modal">
    <div class="modalContent">
        <div class="modalBody">
            <h3>Do you really want to exit from this game session? <br>
                If you exit, you won't be able to re-enter in this game session.</h3>
            <!-- <div [formGroup]="playerform">
                <input class="inputId" type="text" formControlName="roomid">
                </div> -->
           
            <div class="btnBlock">
                <button class="greyBtn" (click)="endGame()">End Game</button>
                <button class="redBtn" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modalOverlay"></div>