<div class="chatbox">
    <div class="chatBoxWrapper">
        <div class="chatHead">
            <h2>CHAT</h2>
            <button class="closeBtn" (click)="closeChatPanel()"><img src="assets/img/chat-close.png" alt=""></button>
        </div>
        <div class="chatBody">
            <ul class="chatList">
                <li (click)="this.messageToSend('Hello')">Hello</li>
                <li (click)="this.messageToSend('Well Played')">Well Played</li>
                <li (click)="this.messageToSend('Great Move')">Great Move</li>
                <li (click)="this.messageToSend('Hurry Up')">Hurry Up</li>
                <li (click)="this.messageToSend('I am Waiting')">I am Waiting</li>
                <li (click)="this.messageToSend('Keep It Up')">Keep It Up</li>
                <li (click)="this.messageToSend('Oh No!')">Oh No!</li>
                <li (click)="this.messageToSend('Ha Ha Ha')">Ha Ha Ha</li>
            </ul>
            <div class="inputBox">
                <input class="msg" placeholder="Write a message" type="text" [(ngModel)]="this.msg" (keydown.enter)="onKeydown($event, this.msg)">
                <button><img src="assets/img/submit.png" alt="" (click)="this.messageToSend(this.msg)"></button>
            </div>    
        </div>
    </div>
</div>
