<div >
    <div class="modal">
        <div class="modalContent">
            <div class="modalBody">
                <h3>{{this.model.message}}</h3>
                <div *ngIf="this.model.messageClose"> <button class="close" (click)="close()"><img src="../../assets/img/Button_Cross.png"></button></div>
                <!-- <div [formGroup]="playerform">
                    <input class="inputId" type="text" formControlName="roomid">
                    </div> -->
               
                <!-- <div class="btnBlock">
                    <button class="greyBtn" (click)="endGame()">End Game</button>
                    <button class="redBtn" (click)="cancel()">Cancel</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modalOverlay"></div>
</div>