<div class="choosePartnerBlock">
    <button class="closeBtn">
        <img src="/assets/img/Button_Cross.png" alt="">
    </button>
    <div class="innerContent">
        <h1>Choose Your partner</h1>
        <div class="videoBlock">
            <div class="videos">
                <div class="content">
                    <img src="/assets/img/Group 123.png" alt="">
                </div>
                <button class="selection selected">
                    <img class="uncheck" src="/assets/img/Check_0.png" alt="">
                    <img class="check" src="/assets/img/Check_1.png" alt="">
                </button>
            </div>
            <div class="videos">
                <div class="content">
                    <img src="/assets/img/Group 123.png" alt="">
                </div>
                <button class="selection">
                    <img class="uncheck" src="/assets/img/Check_0.png" alt="">
                    <img class="check" src="/assets/img/Check_1.png" alt="">
                </button>
            </div>
            <div class="videos">
                <div class="content">
                    <img src="/assets/img/Group 123.png" alt="">
                </div>
                <button class="selection">
                    <img class="uncheck" src="/assets/img/Check_0.png" alt="">
                    <img class="check" src="/assets/img/Check_1.png" alt="">
                </button>
            </div>
        </div>
        <button class="startGameBtn" (click)="StartGame()">Start Game</button>
    </div>
</div>