<div class="modal">
    <div class="modalContent">
        <div class="modalBody">
            <h3>Do you need timer in game.</h3>
            <!-- <div [formGroup]="playerform">
                <input class="inputId" type="text" formControlName="roomid">
                </div> -->
           
            <div class="btnBlock">
                <button class="greyBtn" (click)="yes()">YES</button>
                <button class="redBtn" (click)="no()">NO</button>
            </div>
        </div>
    </div>
</div>
<div class="modalOverlay"></div>